body {
    background: url('../images/waterBackground.jpg');
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main, #chats, #roomCreationDiv {
    width: 70%;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    border-radius: 10px;
}
#roomCreationDiv {
    margin-top: 10px;
    margin-bottom: 10px;
}
#chats {
    background: #cbd3d3;
    opacity: 0.95;
    border: solid #cbd3d3;
}
#main, #roomCreationDiv {
    text-align: center;
}
#main h1 {
    margin-top: 0;
    font-size: 72px;
    font-family: 'Satisfy', cursive;
    margin-bottom: 5px;
    padding: 5px;
    color: #dc143c;
}

#main h1 span {
    font-family:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}

.tweet {
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}
.username {
    font-weight: bold;
}
.tweet {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:black;
  background:#c1b6b6;
  /* css3 */
/*  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f7d4d4), to(#c1b6b6));
  background:-moz-linear-gradient(#f7d4d4, #c1b6b6);
  background:-o-linear-gradient(#f7d4d4, #c1b6b6);
  background:linear-gradient(#f7d4d4, #c1b6b6);*/
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}
/* creates the wider right-angled triangle */
.tweet:before {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:60px; /* controls horizontal position */
  border:0;
  border-right-width:30px; /* vary this value to change the angle of the vertex */
  border-bottom-width:20px; /* vary this value to change the height of the triangle. must be equal to the corresponding value in :after */
  border-style:solid;
  border-color:transparent #c1b6b6;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* creates the narrower right-angled triangle */
.tweet:after {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:80px; /* value = (:before's left) + (:before's border-right/left-width)  - (:after's border-right/left-width) */
  border:0;
  border-right-width:10px; /* vary this value to change the angle of the vertex */
  border-bottom-width:20px; /* vary this value to change the height of the triangle. must be equal to the corresponding value in :before */
  border-style:solid;
  border-color:transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}
.newTweets {
    margin-bottom: 10px;
    width: 35%;
    height: 2em;
    font-size: 28px;
    font-family: 'Satisfy';
    border-radius: 8px;
}
.newTweets:hover {
    background: #cbd3d3;
}
button:hover {
    cursor: pointer;
}
input:hover {
    cursor: pointer;
}